<div class="add-button fl-col {{zClass}}" onclick={{clickEvent}}>
    <p class="button-text">{{title}}</p>
    <div class="button-frame">
        <span class="line"></span>
        <span class="line"></span>
    </div>
</div>