<div id="filter-container" class="flex">
    <div id="filter-sel-div" class="flex jc-cen">
        <p><b>Sort By:</b></p>
        <select id="sortList"></select>
        <input id="filter-direction" type="button"  value="Filter &and;" onclick="directionBtnValue()">
        <p><b>Favorites Only:</b></p>
        <input type="checkbox" id="favorite">
        <input id="applyBtn" type="button" value="Apply" onclick="applyFilters()">
    </div>
    <div id="filter-drop-div" class="flex jc-cen">
        <p><b>Filter Options</b></p>
    </div>
    <div style="flex-grow:1"></div>
</div>