<div id="filter-container" class="flex">
    <div id="filter-sel-div" class="flex jc-cen">
        <p><b>Sort By:</b></p>
        <select id="filter" onclick="changeFilter()"></select>
        <input id="filter-direction" type="button" onclick="filterDirection()" value="Filter &and;">
    </div>
    <div id="filter-drop-div" class="flex jc-cen">
        <p><b>Filter Options</b></p>
    </div>
    <div style="flex-grow:1"></div>
</div>