<div id="support-info" class="tooltip flex jc-cen">
    <input id="in-url" type="text" name="" placeholder="https://www">
    <span class="tooltiptext">
        <ul style="font-size: smaller;">
            Supported Websites:
            <li>AllRecipes.com</li>
            <li>FifteenSpatulas.com</li>
            <li>FoodNetwork.com</li>
        </ul>
    </span>
</div>