<div class="li-div flex">
    <input type="number" name="amount" class="li-amt">
    <select name="unit" class="units li-unit"></select>
    <input type="text" name="name" class="li-name">
    <img src="/assets/images/delete_forever-24px.svg" alt="&times" onclick="deleteNode(this.parentNode)">
</div>