<div class="li-div flex">
    <input type="number" name="" class="li-amt">
    <select name="unit" class="li-unit">
        <option value="tea spoon">tsp</option>
        <option value="cup">cup</option>
        <option value="Table spoon">Tbsp</option>
    </select>
    <input type="text" name="name" class="li-name">
    <img src="/assets/images/delete_forever-24px.svg" alt="&times" onclick="deleteNode(this.parentNode)">
</div>