<nav>
    <div id="title">
        <p id="titletext">My Cookbook</p>
    </div>
    <div id="navbtns">
        <a class="navlink" href="/">
            <div id="homebtn" class="navbtns">
                Home
            </div>
        </a>
        <a class="navlink" href="/list">
            <div id="listbtn" class="navbtns">
                My Recipe List
            </div>
        </a>
        <a class="navlink" href="/account">
            <div id="accountbtn" class="navbtns">
                Account
            </div>
        </a>
    </div>
    <div class="userinfo">
        {{#if user}}
            <p id="logininfo">You are logged in as <br>{{user.username}}</p>  <a class="logout" href="/" onclick="logout()"><div id="logoutbtn" class="navbtns">Logout</div></a>
        {{else}}
            <p id="logoutinfo">You are not logged in</p>
        {{/if}}
    </div>
</nav>