<nav class="flex">
    <div id="title" class="flex"> <!-- Change class to fl-col when mobile -->
        <div id="mob-head" class="flex">
            <div id="mob-title" class="flex">
                <p id="titletext">My Cookbook</p>
            </div>
            <div id="hamburger">
                <img src="/assets/images/menu-24px.svg" alt="menu_hamburger" onclick="openMenu()">
            </div>
        </div>
        <div id="mobile_nav" class="fl-col hide">
            <a class="navlink fl-fl nav-hm" href="/" draggable="false">
                Home
            </a>
            {{#if user}}
            <a class="navlink fl-fl nav-li" href="/list" draggable="false">
                My Recipe List
            </a>
            {{/if}}
            <a class="navlink fl-fl nav-acc" href="/social" draggable="false">
                Discover
            </a>
            <a class="navlink fl-fl nav-disc" href="/account" draggable="false">
                Account
            </a>
            {{#if user}}
                <a class="navlink fl-fl nav-disc nav-last" href="" draggable="false"> <!-- Log out button -->
                    Logout
                </a>
            {{/if}}
        </div>
    </div>
    <div id="navbtns" class="flex">
        <a class="navlink fl-fl nav-hm" href="/" draggable="false">
            Home
        </a>
        {{#if user}}
        <a class="navlink fl-fl nav-li" href="/list" draggable="false">
            My Recipe List
        </a>
        {{/if}}
        <a class="navlink fl-fl nav-acc" href="/social" draggable="false">
            Discover
        </a>
        <a class="navlink fl-fl nav-disc nav-last" href="/account" draggable="false">
            Account
        </a>
        <a class="navlink fl-fl nav-spare">
        </a>
        <a class="navlink fl-fl nav-spare">
        </a>
        <a class="navlink fl-fl nav-spare">
        </a>
        <a class="navlink fl-fl nav-spare">
        </a>
        {{#unless user}}
        <a class="navlink fl-fl nav-spare">
        </a>
        {{/unless}}
    </div>
    <div class="userinfo">
        {{#if user}}
            <p id="logininfo">{{user.username}}</p>
            <input class="logout" type="button" value="Logout" onclick="logout()">
        {{else}}
            <p id="logoutinfo">You are not logged in</p>
        {{/if}}
    </div>
</nav>

<script>
    function openMenu() {
        const menu = document.querySelector('#mobile_nav')

        menu.classList.toggle('hide')
    }
</script>