<nav class="flex">
    <div id="title" class="flex">
        <p id="titletext">My Cookbook</p>
    </div>
    <div id="navbtns" class="flex">
        <a class="navlink fl-fl nav-hm" href="/" draggable="false">
            Home
        </a>
        {{#if user}}
        <a class="navlink fl-fl nav-li" href="/list" draggable="false">
            My Recipe List
        </a>
        {{/if}}
        <a class="navlink fl-fl nav-acc" href="/social" draggable="false">
            Discover
        </a>
        <a class="navlink fl-fl nav-disc nav-last" href="/account" draggable="false">
            Account
        </a>
        <a class="navlink fl-fl nav-spare">
        </a>
        <a class="navlink fl-fl nav-spare">
        </a>
        <a class="navlink fl-fl nav-spare">
        </a>
        <a class="navlink fl-fl nav-spare">
        </a>
        {{#unless user}}
        <a class="navlink fl-fl nav-spare">
        </a>
        {{/unless}}
    </div>
    <div class="userinfo flex">
        {{#if user}}
            <p id="logininfo">{{user.username}}</p>
            <input class="logout" type="button" value="Logout" onclick="logout()">
        {{else}}
            <p id="logoutinfo">You are not logged in</p>
        {{/if}}
    </div>
</nav>