<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook App</title>
    <link rel="stylesheet" href="/assets/global.css">
    <link rel="stylesheet" href="{{assetUrl}}.css">
</head>