<div class="card flex">
    <div class="card-img">
    </div>
    <div class="card-info flex">
        <div class="card-title flex">
            <div id="ctl" class="flex">
                <h3>Title</h3>
            </div>
            <div id="ctr" class="flex">
                <img src="/assets/images/edit-24px.svg" alt="">
                <img src="/assets/images/delete_forever-24px.svg" alt="">
            </div>
        </div>
        <div class="card-body fl-fl">
            <div class="card-info-left fl-col-fl">
                <p>Author:</p>
                <p>Cuisine:</p>
                <p>Type:</p>
                <p>Link:</p>
            </div>
            <div class="card-info-right fl-col-fl">
                <p>Prep Time:</p>
                <p>Cook Time:</p>
                <p>Servings:</p>
                <p>Calories P/S:</p>
            </div>
        </div>
    </div>
</div>