<!DOCTYPE html>
<html lang="en">
    {{> pagehead}}

    <body>
        {{> nav}}

        <div id="container">
            <div>
                <a href="/list">Take me away</a>
            </div>
        </div>

        {{> footer}}
    </body>
</html>