<!DOCTYPE html>
<html lang="en">
    {{> pagehead}}

    <body>
        {{> nav}}

        {{#if user}}
        {{!-- Redirect the user to the list page if they are logged in --}}
        <script> window.location.replace("/list") </script>
        {{else}}
        <div id="container" class="flex jc-cen">
            <div id="signup-home" class="home-modal">
                <form>
                    <div>
                        <h2>Login</h2>
                        <input type="email" id="login-email" class="home-modal-input" placeholder="Email" autocomplete="off">
                        <input type="password" id="login-password" class="home-modal-input" placeholder="Password" autocomplete="off">
                        <button type="submit" id="post-login" class="home-nav-btn">Login</button>
                    </div>
                </form>

                <form>
                    <div>
                        <h3>Or</h3>
                        <h2>Sign Up</h2>
                        <input type="email" id="new-email" class="home-modal-input" placeholder="New User Email" autocomplete="off">
                        <input type="text" id="new-username" class="home-modal-input" placeholder="New User Username" autocomplete="off">
                        <input type="password" id="new-password" class="home-modal-input" placeholder="New User Password" autocomplete="new-password">
                        <button type="submit" id="post-user" class="home-nav-btn">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        {{/if}}

        {{> footer}}
    </body>
</html>