<!DOCTYPE html>
<html lang="en">
    {{> pagehead}}

    <body>
        <div id="container">
            <div id="signup">
                <input type="email" id="new-email" placeholder="New User Email" autocomplete="off">
                <input type="text" id="new-username" placeholder="New User Username" autocomplete="off">
                <input type="password" id="new-password" placeholder="New User Password" autocomplete="new-password">
                <button id="post-user">Create User</button>
            </div>

            <div id="login">
                <input type="email" id="login-email" placeholder="Email" autocomplete="off">
                <input type="password" id="login-password" placeholder="Password" autocomplete="off">
                <button id="post-login">Login</button>
            </div>
            <div>
                <a href="/list">Take me away</a>
            </div>
        </div>

        {{> footer}}
    </body>
</html>