<!DOCTYPE html>
<html lang="en">
    {{> pagehead}}

    <body>
        {{> nav}}

        <div id="container">
            {{!-- Add a page view for a new user with no saved recipes --}}
            {{!-- Add a page view for a user with saved recipes --}}
        </div>

        {{> footer}}
    </body>
    
</html>