/* Search Index:
#R1 - Local Global CSS
#R2 - New User View CSS
#R3 - New Recipe Button
#R4 - Select New Recipe Menu
#R5 - Build New Recipe View
#R6 - Recipe Thumbnail View
#R7 - Existing Recipe View
#R8 - Search/Filter Bar
*/

/* ********** #R1 - Local Global CSS ********** */
.wrapper {
    justify-content: start;
    align-items: center;
}

/* ********** #R2 - New User View CSS ********** */
.new-user {
    align-items: center;
    min-height: 350px;
}

.new-user h1, .new-user h2, #add-button {
    margin-top: 10px;
    margin-bottom: 15px;
}

.new-user h1 {
    font-size: 80px;
}

#arrows {
    width: 300px;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/* ********** #R3 - New Recipe Button ********** */
.add-button {
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.button-text {
    text-shadow: 2px 5px 3px #00000040;
    margin-bottom: 10px;
}

.button-frame {
    width: 50px;
    height: 50px;
    background: #E8C563 0% 0% no-repeat padding-box;
    box-shadow: 2px 5px 3px #00000040;
    border: 5px solid #0000A8;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.button-frame span {
    border: 2px solid #0000A8;
}

.line:first-of-type{
    position: absolute;
    width: 30px;
    height: 0px;
    top: 18px;
    left: 5px;
}

.line:last-of-type {
    position: absolute;
    height: 30px;
    width: 0px;
    top: 5px;
    left: 18px;
}

/* ********** #R4 - Select New Recipe Menu ********** */
#nr-select {
    justify-content: space-evenly;
    align-items: center;
    background: white;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 2px 5px 3px #00000040;
}

#in-url {
    width: 90%;
    border-radius: 10px;
}

/* ********** #R5 - Build New Recipe View ********** */
.nr-container {
    width: 1080px;
    border: 2px solid black;
    background: white;
}

.nr-container hr {
    width: 100%;
}

.nr-he {
    height: 200px;
    border-bottom: 2px solid black;
    align-items: flex-end;
    background: url("https://picsum.photos/1076/200");
    color: white;
}

.nr-he-info {
    height: 50%;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.nr-in {
    min-height: 100px;
}

.nr-in-sp {
    border: 1px solid black;
    width: 0px;
    margin: 0 10px 0 10px;
}

.nr-di {
    min-height: 100px;
}

.nr-di div {
    position: relative;
    align-items: baseline;
}

.nr-di div hr {
    position: absolute;
    bottom: 0;
}

.nr-no {
    min-height: 100px;
}

.nr-no-ta div {
    width: 100px;
    align-items: center;
}

.nr-nu {
    min-height: 100px;
}

/* ********** #R6 - Recipe Thumbnail View ********** */
.card {
    width: 504px;
    height: 127px;
    border: 1px solid black;
    box-shadow: 2px 5px 3px #00000040;
    background: white;
}

.card-img {
    width: 126px;
    height: 125px;
    border-right: 1px solid black;
    background-image: url("https://picsum.photos/127/127");
}

.card-info {
    width: 378px;
    height: 125px;
    flex-wrap: wrap;
}

.card-title {
    width: 378px;
    height: 33PX;
    padding-left: 5px;
    border-bottom: 1px solid black;
}

#ctl {
    width: 323px;
    height: 33px;
    align-items: center;
}

#ctr {
    width: 55px;
    height: 33px;
    align-items: center;
}

.card-body {
    width: 378px;
    height: 92px;

}

.card-info-left {
    border-right: 1px solid black;
}

/* .card-info-right {

} */

.card-info-left, .card-info-right {
    justify-content: space-evenly;
    padding-left: 5px;
    padding-right: 5px;
}

/* ********** #R7 - Existing Recipe View ********** */

/* ********** #R8 - Search/Filter Bar ********** */
