/* Search Index:
#R1 - Local Global CSS
#R2 - New User View CSS
#R3 - New Recipe Button
#R4 - Select New Recipe Menu
#R5 - Build New Recipe View
#R6 - Recipe Thumbnail View
#R7 - Existing Recipe View
*/

/* ********** #R1 - Local Global CSS ********** */
#wrapper {
    justify-content: start;
    align-items: center;
}

.add-elem {
    align-items: center;
    margin-top: 10px;
}

.filler {
    height: 350px;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 90px;
}

.vr-di-li ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

.vr-di-li ol>li {
    counter-increment: my-awesome-counter;
    padding: 5px 0;
    margin-top: 5px;
}

.vr-di-li ol>li::before {
    content: counter(my-awesome-counter);
    font-weight: bold;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1.2rem;
    text-shadow: 2px 2px rgba(0,0,0,.2);
    color: rgb(172, 30, 30);
    position: absolute;
    left: 4px;
}

.nr-container a {
    color: lightblue;
    font-weight: normal;
}

/* ********** #R2 - New User View CSS ********** */
.new-user {
    align-items: center;
    min-height: 350px;
}

.new-user h1, .new-user h2, .add-button {
    margin-top: 10px;
    margin-bottom: 15px;
}

.new-user h1 {
    font-size: 80px;
}

#arrows {
    width: 300px;
    height: auto;
    -ms-user-select: none;
        user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.nr-he-info tr td:nth-child(even) input:focus {
    border-color: lightblue;
    background-color: azure;
}

@media only screen and (min-width: 768px) {
    /* ********** #R3 - New Recipe Button ********** */
    .add-button {
        align-items: center;
        font-weight: bold;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        cursor: pointer;
    }

    .sticky-button {
        position: -webkit-sticky;
        position: sticky;
        top: 44px;
    }

    .button-text {
        text-shadow: 2px 5px 3px #00000040;
        margin-bottom: 10px;
    }

    .button-frame {
        width: 50px;
        height: 50px;
        background: #E8C563 0% 0% no-repeat padding-box;
        box-shadow: 2px 5px 3px #00000040;
        border: 5px solid #0000A8;
        border-radius: 50%;
        display: inline-block;
        position: relative;
    }

    .button-frame span {
        border: 2px solid #0000A8;
    }

    .line:first-of-type{
        position: absolute;
        width: 30px;
        height: 0px;
        top: 18px;
        left: 5px;
    }

    .line:last-of-type {
        position: absolute;
        height: 30px;
        width: 0px;
        top: 5px;
        left: 18px;
    }   


    /* ********** #R4 - Select New Recipe Menu ********** */

    #nr-select {
        justify-content: space-around;
        background: white;
        width: 500px;
        height: 300px;
        border: 1px solid black;
        box-shadow: 2px 5px 3px #00000040;
        margin-top: 10vh;
    }

    #nr-select form {
        width: inherit;
    }

    #in-url {
        width: 90%;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #sub_URL {
        margin: 5px;
    }

    #support-info {
        width: 100%;
    }    


    /* ********** #R5 - Build New Recipe View ********** */

    .nr-container {
        min-width: 768px;
        width: 50vw;
        max-width: 1086px;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        max-height: 100vh;
        border: 2px solid black;
        background: white;
        overflow: auto;
        margin: 10px 0;
    }

    .nr-container h2 {
        margin: 2.5px 0 2.5px 10px;
    }

    .nr-he {
        height: 350px;
        border-bottom: 2px solid black;
        justify-content: end;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        text-shadow: 2px 2px 2px rgb(0,0,0);
        color: white;
    }

    .nr-he-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 100%;
        background: rgba(0, 0, 0, 0.35);
    }
    
    .nr-he-info table {
        border-spacing: 10px;
    }
    
    .nr-he-info tr td:nth-child(even) {
        width: 100%;
    }
    
    .nr-he-info tr td:nth-child(even) input {
        width: 100%;
        padding: 4px;
        border: 1px solid black;
        border-radius: 6px;
    }
    
    #nr-he-img {
        width: auto;
        height: auto;
        background: rgba(0,0,0,.5);
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
    }
    
    #nr-he-img label {
        margin: 5px 0;
    }
    
    #nr-he-img input {
        margin: 5px 0;
    }

    .nr-he-info h4, .nr-he-info h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 2.5px 5px;
    }

    .nr-in {
        height: auto;
    }

    .sub-info {
        width: 21%;
        padding: 5px 0;
        border-left: 1px solid black;
    }
    
    .cook-info {
        width: 16%;
    }

    .sub-info input {
        width: 80px;
    }

    .nr-in-sp {
        border: 1px solid black;
        width: 0px;
        margin: 0 10px 0 10px;
    }

    .nr-in-ta {
        padding: 10px;
    }

    .li-amt {
        width: 40px;
    }

    .li-unit {
        width: 60px;
    }

    .li-name {
        width: 136px;
    }

    .nr-di {
        height: auto;
    }

    .nr-di-li {
        padding: 10px;
    }

    .nr-no-ta {
        margin: 0 10px 10px 10px;
    }

    #post-recipe {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
    }


    /* ********** #R6 - Recipe Thumbnail View ********** */

    .card {
        display: flex;
        width: 504px;
        height: 127px;
        border: 1px solid black;
        box-shadow: 2px 5px 3px #00000040;
        background: white;
        margin: 10px;
    }

    .card-img {
        width: 126px;
        height: 125px;
        border-right: 1px solid black;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-info {
        width: 378px;
        height: 125px;
    }

    .card-title {
        width: 100%;
        height: 33px;
        padding: 0 5px;
        border-bottom: 1px solid black;
    }

    .ctl {
        flex-grow: 1;
        height: 33px;
        overflow: hidden;
        align-items: center;
    }

    .ctl h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .ctr {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: 100%;
        align-items: center;
    }

    .card-body {
        display: flex;
        flex: 1 1 auto;
        width: 378px;
        height: 92px;

    }

    .card-info-left {
        border-right: 1px solid black;
    }

    .card-info-left, .card-info-right {
        justify-content: space-evenly;
        padding-left: 5px;
        padding-right: 5px;
    }   


    /* ********** #R7 - Existing Recipe View ********** */

    #main-body {
        height: auto;
        width: 100%;
    }

    #main-left {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    #main-right {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 10px;
    }

    .filter-box {
        margin-top: 10px;
    }

    .box-content {
        margin-left: 50px;
    }

    .vr-di-li {
        margin-left: 20px;
    }

    .vr-in-li {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }

    .li-div {
        width: 33%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin-top: 10px;
    }

    .shopping-list {
        margin-right: 5px;
    }
}