<!DOCTYPE html>
<html lang="en">
    {{> pagehead}}

    <body>
        {{> nav}}

        {{#unless user}}
            {{!-- If user is not logged in they get sent back to the home page --}}

            {{!-- uncomment this later --}}
            {{!-- <script> window.location.replace("/") </script> --}}
        {{/unless}}

            <div id="container" class="new-user">
                {{!-- Add a page view for a new user with no saved recipes --}}
                <h1>No recipes found.</h1>
                <span></span>
                <h2>Click the button to create your first recipe!</h2>
                <div id="add-button">
                    <p class="button-text">Add New Recipe</p>
                    <div class="button-frame">
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <span></span>
                <img src="../../assets/images/arrows.png" alt="arrows" id="arrows" draggable="false" >
                {{!-- Add a page view for a user with saved recipes --}}
            </div>

        {{> footer}}
    </body>

    <script id="new-template" type="text/x-handlebards-template"></script>
    
</html>