* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 52px;
    background: #ECD185 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

#title{
    width: 12%;
}

#navbtns{
    display: flex;
    width: 100%;
}

.navlink{
    width: 7%;
}

.navlink:link{
    text-decoration: none;
}

.navlink:visited{
    text-decoration: none;
}

.navlink:hover{
    text-decoration: none;
}

.navlink:active{
    text-decoration: none;
}

.navbtns{
    top: 0px;
    width: 100%;
    height: 50px;
    background: #E8C563 0% 0% no-repeat padding-box;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    opacity: 1;
    text-align: center;
    font: 17px/20px Segoe UI;
    letter-spacing: 0px;
    padding-top: 10%;
    color: #707070;
}

/* nav {
    box-shadow: 2px 2px 5px rgb(180, 149, 110);
    opacity: 0.9;
    background: rgb(151, 118, 77);
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
} */

#titletext {
    text-align: center;
    font: 22px/29px Segoe UI;
    letter-spacing: 0px;
    padding-top: 4%;
    color: #707070;
    opacity: 1;
}

/* #nav-inner {
    margin: 0 auto;
    height: 60px;
    max-width: 85vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-btn {
    height: 30px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    margin: 0 6px;
    min-width: 75px;
} */

.nav-btn:hover {
    cursor: pointer;
    position: relative;
    left: 2px;
    top: -2px;
    box-shadow: -2px 2px rgb(117, 89, 55);
}

.modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 200px;
    z-index: 2;
    background: rgb(151, 118, 77);
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgb(180, 149, 110);
    padding: 14px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal button {
    width: 75%;
}

.modal-input {
    border: none;
    padding: 4px;
    margin: 8px 0;
    width: 75%;
}

.modal-cancel {
    margin-top: 6px;
}

body {
    background-color: bisque;
    overflow: none;
}

#container {
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px;
    width: 85vw;
    min-width: 768px;
    background-color: burlywood;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(151, 118, 77);
    color: bisque;
    height: 30px;
    padding: 5px;
}