
/* ********** General CSS ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: bisque;
    overflow: none;
}

hr {
    width: 100%;
}

#container {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

footer {
    width: 100%;
    background: rgb(151, 118, 77);
    color: bisque;
    height: 30px;
    padding: 5px;
}

#wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,.18);
    z-index: 1;
}

.wrapper-child {
    z-index: 2;
}

.exit {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
}

.svg-img-button {
    cursor: pointer;
}

.rel {
    position: relative;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
    
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 6px;
    list-style-position: inside;
     
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 130%;
    right: 63%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (min-width: 769px) {
    /* ********** Navbar CSS ********** */
    nav {
        width: 100%;
        min-height: 45px;
        height: auto;
        background: #ECD185;
        border-bottom: 1px solid #707070;
    }

    /* ***** Navbar Title ***** */
    #title {
        width: 15%;
        justify-content: center;
        align-items: center;
        font: 1.5rem Segoe UI;
        font-weight: bold;
        letter-spacing: 0px;
        color: #707070;
    }

    /* ***** Navbar Buttons ***** */
    #navbtns {
        flex: 1 1 auto;
        width: 70%;
        background: #E8C563;
        border-right: 1px solid #707070;
        font: 1rem Segoe UI;
        font-weight: bold;
    }

    .navlink {
        width: 12.5%;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #707070;
        color: #707070;
        letter-spacing: 0px;
    }

    .nav-last {
        border-right: 1px solid #707070;
    }

    .navlink:link, .navlink:visited, .navlink:hover, .navlink:active {
        text-decoration: none;
    }

    .navlink:hover {
        cursor: pointer;
        background: rgb(235, 191, 72);
    }

    .nav-spare, .nav-spare:hover {
        border: none;
        background: #E8C563;
        cursor: default;
    }

    /* *** Navbar Home *** */

    /* *** Navbar Recipe *** */

    /* *** Navbar Account *** */

    /* ***** Navbar Login ***** */
    .userinfo {
        display: flex;
        width: 15%;
        position: relative;
        justify-content: center;
        align-items: center;
        font: 1rem Segoe UI;
        font-style: italic;
        letter-spacing: 0px;
        color: #707070;
    }

    .userinfo p {
        display: flex;
        width: 100%;
        text-align: center;
    }

    .logout {
        width: auto;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        font: .8rem Segoe UI;
        padding: 2px;
        margin-right: 5px;
        letter-spacing: 0px;
        color: #707070;
    }
}

/* ********** Navbar Mobile CSS ********** */
@media only screen and (max-width: 768px) {
    /* ********** Navbar CSS ********** */
    nav {
        width: 100%;
        height: auto;
        background: #ECD185;
        border-bottom: 1px solid #707070;
    }

    /* ***** Navbar Title ***** */
    #title {
        flex-direction: column;
        width: 100%;
        font: 1.5rem Segoe UI;
        font-weight: bold;
        letter-spacing: 0px;
        color: #707070;
    }
    
    #mob-head {
        width: 100%;
        padding: 2.5px 10px;
    }

    #mob-title {
        flex-grow: 1;
        justify-content: start;
    }

    #hamburger {
        justify-content: end;
    }

    /* ***** Navbar Buttons ***** */
    #navbtns {
        display: none;
    }

    .navlink {
        width: 100%;
        align-items: center;
        font: 1rem Segoe UI;
        font-weight: bold;
        color: #707070;
        letter-spacing: 0px;
        border-bottom: 1px solid black;
        padding: 2.5px 10px;
    }
    
    .nav-hm {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .nav-last {
        border-bottom: none;
    }
    
    .navlink:nth-child(odd) {
        background: rgb(235, 191, 72);
    }

    .navlink:link, .navlink:visited, .navlink:hover, .navlink:active {
        text-decoration: none;
    }

    .navlink:hover {
        cursor: pointer;
        background: rgb(235, 191, 72);
    }

    .nav-spare, .nav-spare:hover {
        border: none;
        background: #E8C563;
        cursor: default;
    }

    /* *** Navbar Home *** */

    /* *** Navbar Recipe *** */

    /* *** Navbar Account *** */

    /* ***** Navbar Login ***** */
    .userinfo {
        display: none;
    }

    .userinfo p {
        width: 100%;
        text-align: center;
    }

    .logout {
        width: auto;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        font: .8rem Segoe UI;
        padding: 2px;
        margin-right: 5px;
        letter-spacing: 0px;
        color: #707070;
    }
}

/* ***** Filter Bar ***** */
#filter-container {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 5px 0;
    background: #ECD185;
    border-bottom: 1px solid #707070;
    font: 1rem Segoe UI;
}

#filter-sel-div {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 15%;
}

#filter-sel-div p {
    padding-right: 5px;
}

#filter {
    font: 1rem Segoe UI;
}

#filter-drop-div {
    width: 70%;
}

/* ********** Generic Flex Settings ********** */
.flex {
    display: flex;
}

.fl-fl {
    display: flex;
    flex: 1 1 auto;
}

.fl-col {
    display: flex;
    flex-direction: column;
}

.fl-col-fl {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.jc-cen {
    justify-content: center;
}

.ai-cen {
    align-items: center;
}

.jc-ai-cen {
    justify-content: center;
    align-items: center;
}

.fw-w {
    flex-wrap: wrap;
}

.hide {
    display: none;
}

/* ***** Relic code ***** */
/* .modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 200px;
    z-index: 2;
    background: rgb(151, 118, 77);
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgb(180, 149, 110);
    padding: 14px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal button {
    width: 75%;
}

.modal-input {
    border: none;
    padding: 4px;
    margin: 8px 0;
    width: 75%;
}

.modal-cancel {
    margin-top: 6px;
} */